@using OBLS.Static
@model IEnumerable<OBLS.Models.Requirements>
@{
    ViewBag.Title = "Maintenance";
    ViewBag.pTitle = "Maintenance";
    ViewBag.pageTitle = "Requirements";

    ListRoles List = new ListRoles();
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-6">
                        <h4 class="card-title">@ViewBag.pageTitle</h4>
                    </div>
                    <div class="col-6">
                        <a asp-action="Create" class="float-end btn btn-primary btn-sm">Create New</a>
                    </div>
                </div>
                <table id="datatable-buttons" class="table table-responsive table-bordered table-striped table-hover dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserRolesId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsUpload)
                            </th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @foreach (var r in List.Roles.Where(m => m.Id == item.UserRolesId.ToString()))
                                    {
                                        <span>@r.Name</span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsUpload)
                                </td>
                                <td class="text-center">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
