@using System.Globalization;
@model IEnumerable<OrderProductsView>
@{
    decimal TotalAmount = 0;
}
<div id="LoadNewOrderDetails">
    <h5 class="mb-2">Order ID: <span class="text-primary" id="ReferenceNo">@ViewBag.OrderDetails.ReferenceNo</span></h5>

    <div class="table-responsive">
        <table class="table align-middle table-nowrap">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col" colspan="2">Total</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var GrandTotalBG = "";
                }
                @foreach (var item in Model)
                {
                    var DiscountedPrice = (item.OrderPrice - (item.OrderPrice * item.OrderDiscounts) / 100);
                    decimal SaveDiscount = Convert.ToDecimal(item.OrderPrice) - Convert.ToDecimal(DiscountedPrice);
                    var Total = (item.OrderPrice - (item.OrderPrice * item.OrderDiscounts) / 100) * item.OrderQuantity;
                    TotalAmount = TotalAmount + Convert.ToDecimal(Total);

                    <tr>
                        <th scope="row">
                            <div>
                                <img src="@item.ProductImageURL" alt="" class="avatar-sm">
                            </div>
                        </th>
                        <th>
                            @item.ProductName
                        </th>
                        <td>
                            @if (item.OrderDiscounts > 0)
                            {
                                <span class="text-success">@item.OrderDiscounts% OFF</span>
                                <p class="mb-1" key="t-simplified"><span class="text-muted me-2"><del>@string.Format(new CultureInfo("en-PH", false),"{0:C}", item.OrderPrice)</del></span> <b>@string.Format(new CultureInfo("en-PH", false),"{0:C}", DiscountedPrice)</b></p>
                                <span class="badge rounded-pill bg-success float-start">Save @string.Format(new CultureInfo("en-PH", false),"{0:C}", SaveDiscount)</span>
                            }
                            else
                            {
                                <p class="mb-1" key="t-simplified"><b>@string.Format(new CultureInfo("en-PH", false),"{0:C}", DiscountedPrice)</b></p>
                            }
                        </td>
                        <td>
                            @if (ViewBag.OrderDetails.IsPaid == false)
                            {
                                <div class="me-3" style="width: 130px;">
                                    <input type="text" class="OrderQuantity" value="@item.OrderQuantity" name="OrderQuantity" min="1" id="OrderQuantity_@item.OrderId" onchange="OrderQuantity(@item.OrderId)">
                                </div>
                            }
                            else
                            {
                                <span>x @item.OrderQuantity</span>
                            }
                        </td>
                        <td>@string.Format(new CultureInfo("en-PH", false),"{0:C}", Total)</td>
                        <td>
                            @if (ViewBag.OrderDetails.IsPaid == false)
                            {
                                <a href="javascript:void(0);" onclick="Delete(@item.OrderId)" class="action-icon text-danger"> <i class="mdi mdi-trash-can font-size-18"></i></a>
                            }
                        </td>
                    </tr>

                }

                @if (ViewBag.OrderDetails.IsPaid == true)
                {
                    GrandTotalBG = "bg-success";
                }
                else
                {
                    GrandTotalBG = "bg-danger";
                }

                <tr class="@GrandTotalBG">
                    <td colspan="4">
                        <h5 class="m-0 text-right text-white">Grand Total:</h5>
                    </td>
                    <td colspan="2">
                        @{
                            decimal DiscountedTotalAmount = (TotalAmount - (TotalAmount * Convert.ToDecimal(ViewBag.OrderDetails.Discounts)) / 100);
                            if (ViewBag.OrderDetails.Discounts > 0)
                            {
                                <h5 class="text-white" key="t-simplified"><span class="text-muted me-2"><del>@string.Format(new CultureInfo("en-PH", false),"{0:C}", TotalAmount)</del></span> <b>@string.Format(new CultureInfo("en-PH", false),"{0:C}", DiscountedTotalAmount)</b></h5>
                            }
                            else
                            {
                                <h5 class="text-white">@string.Format(new CultureInfo("en-PH", false),"{0:C}", TotalAmount)</h5>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h6 class="m-0 text-right">Payment Status</h6>
                    </td>
                    <td colspan="4">
                        @if (ViewBag.OrderDetails.IsPaid == true)
                        {
                            <span class="badge badge-pill badge-soft-success font-size-11">Paid</span>
                        }
                        else
                        {
                            <span class="badge badge-pill badge-soft-danger font-size-11">Unpaid</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h6 class="m-0 text-right">Payment Method</h6>
                    </td>
                    <td colspan="4">
                        @if (ViewBag.OrderDetails.Payment == "Membership Card")
                        {
                            @if (ViewBag.OrderDetails.IsPaid == false)
                            {
                                <div class="col-md-12">
                                    <input id="MembershipCard" onkeyup="GetIDs()" placeholder="Enter Membership Card" type="text" class="form-control" maxlength="10" />
                                </div>
                            }
                            else
                            {
                                @ViewBag.OrderDetails.Payment
                            }
                        }
                        else
                        {
                            @ViewBag.OrderDetails.Payment
                        }
                    </td>
                </tr>

                @if (ViewBag.OrderDetails.Payment == "Membership Card")
                {
                    @if (ViewBag.OrderDetails.IsPaid == false)
                    {
                        <tr>
                            <td colspan="2">
                                <h6 class="m-0 text-right">Card PIN</h6>
                            </td>
                            <td colspan="4">
                                <div class="col-md-12">
                                    <input id="PIN" onkeyup="GetIDs()" placeholder="Enter Card PIN" type="password" class="form-control" maxlength="4" />
                                </div>
                            </td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="2">
                        <h6 class="m-0 text-right">Senior Citizen ID</h6>
                    </td>
                    <td colspan="4">
                        <div class="col-md-12">
                            @if (ViewBag.OrderDetails.IsPaid == false)
                            {
                                <div class="col-md-12">
                                    <input id="SeniorCitizenID" placeholder="Enter Senior Citizen ID" type="text" class="form-control" value="@ViewBag.OrderDetails.SeniorCitizenID">
                                </div>
                            }
                            else
                            {
                                @ViewBag.OrderDetails.SeniorCitizenID
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h6 class="m-0 text-right">PWD ID</h6>
                    </td>
                    <td colspan="4">
                        @if (ViewBag.OrderDetails.IsPaid == false)
                        {
                            <div class="col-md-12">
                                <input id="PWDID" placeholder="Enter PWD ID" type="text" class="form-control" value="@ViewBag.OrderDetails.PWDID">
                            </div>
                        }
                        else
                        {
                            @ViewBag.OrderDetails.PWDID
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h6 class="m-0 text-right">Discount</h6>
                    </td>
                    <td colspan="4">
                        @if (ViewBag.OrderDetails.IsPaid == false)
                        {
                            <div class="col-md-12">
                                <input id="Discount" placeholder="Enter Discount" type="number" class="form-control" value="@ViewBag.OrderDetails.Discounts">
                            </div>
                        }
                        else
                        {
                            if (@ViewBag.OrderDetails.Discounts > 0)
                            {
                                <span class="text-success">@ViewBag.OrderDetails.Discounts% OFF</span>
                            }
                            else
                            {
                                <span>@ViewBag.OrderDetails.Discounts% OFF</span>
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h6 class="m-0 text-right">Customer Request</h6>
                    </td>
                    <td colspan="4">
                        @ViewBag.OrderDetails.CustomerRequest
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        @if (ViewBag.OrderDetails.IsPaid == false)
        {
            <button type="button" class="btn btn-success" id="ProceedPayment">Proceed to Payment</button>
        }
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
</div>
<script>

    $(document).ready(function () {
        $(".OrderQuantity").TouchSpin({
            min: 1,        // Minimum value
            max: 100,      // Maximum value
            step: 1,       // Step value
            decimals: 0,   // Number of decimal places
            boostat: 5,    // Step when boosted
            maxboostedstep: 10, // Maximum step when boosted
        });

        $("#ProceedPayment").click(function () {
            var CardNumber = $("#MembershipCard").val();
            var PIN = $("#PIN").val();
            var SeniorCitizenID = $("#SeniorCitizenID").val();
            var PWDID = $("#PWDID").val();
            var Discount = $("#Discount").val();


            Swal.fire({
                title: 'Proceed to Payment Now?',
                text: 'Once done this order will be paid!',
                icon: 'info',
                showCancelButton: true,
                confirmButtonText: 'Done',
                cancelButtonText: 'Back',
                allowOutsideClick: false,
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        url: "/Dashboard/ProceedPayment",
                        type: 'GET',
                        data: {
                            OrderId: '@ViewBag.OrderDetails.Id',
                            PaymentMethod: '@ViewBag.OrderDetails.Payment',
                            CardNumber: CardNumber,
                            PIN: PIN,
                            SeniorCitizenID: SeniorCitizenID,
                            PWDID: PWDID,
                            Discount: Discount,
                        },
                        success: function (data) {
                            console.log(data);
                            Swal.fire({
                                title: data.title,
                                text: data.text,
                                icon: data.icon,
                                showCancelButton: false,
                                allowOutsideClick: false,
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    if (data.icon == "success") {
                                        window.location.href = '@Url.Action("Index", "Dashboard")';
                                    }
                                }
                            });
                        },
                        error: function () {
                            console.log('Failed to load the partial view');
                        }
                    });
                }
            });
        });
    });

    function NewOrderDetails() {
        $.ajax({
            url: "/Dashboard/_OrderDetails",
            type: 'GET',
            data: {
                OrderId: '@ViewBag.OrderDetails.Id',
            },
            success: function (partialView) {
                $("#LoadNewOrderDetails").html(partialView);
            },
            error: function () {
                console.log('Failed to load the partial view');
            }
        });
    }

     function GetIDs() {
        var CardNumber = $("#MembershipCard").val();
        var PIN = $("#PIN").val();
        if (CardNumber.length == 10 && PIN.length == 4) {
            $.ajax({
                url: "/Dashboard/GetIDs",
                type: 'GET',
                data: {
                    CardNumber: CardNumber,
                    PIN: PIN,
                },
                success: function (data) {
                    $("#SeniorCitizenID").val(data.seniorCitizenID);
                    $("#PWDID").val(data.pwdid);
                    if (data.seniorCitizenID != "" || data.pwdid != "") {
                        $("#Discount").val(10);
                    }
                },
                error: function () {
                }
            });
        }
    }

    function OrderQuantity(OrderID) {
        var QTY = $("#OrderQuantity_" + OrderID).val();
        if (QTY == 0) {
            QTY = 1;
            $("#OrderQuantity_" + OrderID).val(QTY);
        }

        $.ajax({
            url: '@Url.Action("Save", "Dashboard")',
            type: 'POST',
            data: {
                Id: OrderID,
                Quantity: QTY,
            },
            success: function (data) {
                NewOrderDetails();
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function Delete(Id) {
        var data = {
            Id: Id,
        };
        Swal.fire({
            title: 'Are you sure?',
            text: 'You won\'t be able to revert this!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel',
            allowOutsideClick: false,
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("Delete", "Dashboard")',
                    type: 'POST',
                    data: data,
                    success: function (data) {
                        Swal.fire({
                            title: 'Deleted!',
                            text: 'Record was successfully deleted!',
                            icon: 'success',
                            showCancelButton: false,
                            allowOutsideClick: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                NewOrderDetails();
                            }
                        });
                    },
                    error: function (error) {
                        Swal.fire('Oops!', 'Something went wrong!', 'error');
                    }
                });

            }
        });
    }
</script>