@using System.Globalization;
@model IEnumerable<Orders>
@{
    if (ViewBag.Persons.IsAdmin == true && ViewBag.Persons.IsStaff == false && ViewBag.Persons.IsMember == false)
    {
        ViewBag.Title = "Main";
        ViewBag.pTitle = "Main";
    }
    else if (ViewBag.Persons.IsAdmin == false && ViewBag.Persons.IsStaff == true && ViewBag.Persons.IsMember == false)
    {
        ViewBag.Title = "Staff Account";
        ViewBag.pTitle = "Staff Account";
    }
    else if (ViewBag.Persons.IsAdmin == false && ViewBag.Persons.IsStaff == false && ViewBag.Persons.IsMember == true)
    {
        ViewBag.Title = "My Account";
        ViewBag.pTitle = "My Account";
    }

    ViewBag.pageTitle = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/assets/libs/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" type="text/css" />

@{
    var Year = ViewBag.Year as SelectList;
}

@if (ViewBag.Persons.IsAdmin == true && ViewBag.Persons.IsStaff == false && ViewBag.Persons.IsMember == false)
{
    <div class="row">
        <div class="col-xl-4">
            <div class="card overflow-hidden">
                <div class="bg-primary bg-soft">
                    <div class="row">
                        <div class="col-7">
                            <div class="text-primary p-3">
                                <h5 class="text-primary">Welcome Back !</h5>
                                <p>OBLS Dashboard</p>
                            </div>
                        </div>
                        <div class="col-5 align-self-end">
                            <img src="~/assets/images/profile-img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5 class="font-size-15 text-truncate mt-3"><i class="bx bx-user"></i> @ViewBag.Persons.FirstName @ViewBag.Persons.MiddleName @ViewBag.Persons.LastName</h5>
                            <p class="text-muted mb-0 text-truncate">@ViewBag.Persons.Email</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Monthly Earning</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="text-muted">This month</p>
                            <h3>@string.Format(new CultureInfo("en-PH", false),"{0:C}", ViewBag.TransactionsMonthlyAmount)</h3>
                            @*     <p class="text-muted"><span class="text-success me-2"> 12% <i class="mdi mdi-arrow-up"></i> </span> From previous period</p> *@

                            <div class="mt-4">
                            </div>
                        </div>
                        @*                         <div class="col-sm-6">
                    <div class="mt-4 mt-sm-0">
                    <div id="radialBar-chart" class="apex-charts"></div>
                    </div>
                    </div> *@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mini-stats-wid">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    <p class="text-muted fw-medium">Orders</p>
                                    <h4 class="mb-0">@ViewBag.OrdersCount</h4>
                                </div>

                                <div class="flex-shrink-0 align-self-center">
                                    <div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
                                        <span class="avatar-title">
                                            <i class="bx bx-copy-alt font-size-24"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mini-stats-wid">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    <p class="text-muted fw-medium">Transactions</p>
                                    <h4 class="mb-0">@ViewBag.TransactionsCount</h4>
                                </div>

                                <div class="flex-shrink-0 align-self-center">
                                    <div class="mini-stat-icon avatar-sm rounded-circle bg-primary">
                                        <span class="avatar-title">
                                            <i class="bx bx-copy-alt font-size-24"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mini-stats-wid">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    <p class="text-muted fw-medium">All Earning</p>
                                    <h4 class="mb-0">@string.Format(new CultureInfo("en-PH", false),"{0:C}", ViewBag.TransactionAmount)</h4>
                                </div>

                                <div class="flex-shrink-0 align-self-center ">
                                    <div class="avatar-sm rounded-circle bg-primary mini-stat-icon">
                                        <span class="avatar-title rounded-circle bg-primary">
                                            <i class="bx bx-archive-in font-size-24"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex flex-wrap">
                        <h4 class="card-title mb-4">Forecasting</h4>
                        <div class="ms-auto">
                        </div>
                    </div>

                    <div id="Forecasting" class="apex-charts" dir="ltr"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div>
            <div class="card">
                <select id="Year" class="form-control" value="" onchange="FilterYear()">
                    <option value="">- Select Year -</option>
                    @*<option value="">Forecasting</option>*@
                    @foreach (var item in Year)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                </select>
                <div class="card-body">
                    <div class="d-sm-flex flex-wrap">
                        <h4 class="card-title mb-4">
                            Best Seller
                        </h4>
                        <div class="ms-auto">
                        </div>
                    </div>
                    <div id="line_chart_dashed" class="apex-charts" dir="ltr"></div>
                </div>
            </div>
        </div>
    </div>

@*     <div class="row">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex flex-wrap">
                        <h4 class="card-title mb-4">
                            Least Seller
                        </h4>
                        <div class="ms-auto">
                        </div>
                    </div>
                    <div id="line_chart_dashed1" class="apex-charts" dir="ltr"></div>
                </div>
            </div>
        </div>
    </div> *@

    <div class="row">
        <div>
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex flex-wrap">
                        <h4 class="card-title mb-4">
                            Monthly Earning
                        </h4>
                        <div class="ms-auto">
                        </div>
                    </div>

                    <div id="MonthlyEarningsChart" class="apex-charts" dir="ltr"></div>
                </div>
            </div>
        </div>
    </div>
}

<!-- end row -->
@if (ViewBag.Persons.IsAdmin == true || ViewBag.Persons.IsStaff == true && ViewBag.Persons.IsMember == false)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card overflow-hidden">
                <div class="bg-primary bg-soft">
                    <div class="row">
                        @if (ViewBag.Persons.IsStaff == true)
                        {
                            <div class="col-10">
                                <div class="text-primary p-3">
                                    <h5 class="text-primary">Welcome Back !</h5>
                                    <p>OBLS Dashboard</p>
                                    <h5 class="font-size-15 text-truncate mt-3"><i class="bx bx-user"></i> @ViewBag.Persons.FirstName @ViewBag.Persons.MiddleName @ViewBag.Persons.LastName</h5>
                                    <p class="text-muted mb-0 text-truncate">@ViewBag.Persons.Email</p>
                                </div>
                            </div>
                            <div class="col-2 align-self-end">
                                <img src="~/assets/images/profile-img.png" alt="" class="img-fluid" style="width: 200px">
                            </div>
                        }
                    </div>
                </div>
                <div class="card-body pt-4">
                    <div style="display: none">
                        <button id="ShowLoadWalletModal" class="btn btn-primary waves-effect waves-light btn-sm float-end" data-bs-toggle="modal" data-bs-target="#LoadWalletModal" style="margin-left: 10px;"></button>
                        <button id="ShowLoadWalletAlert" class="btn btn-primary waves-effect waves-light btn-sm float-end" data-bs-toggle="modal" data-bs-target="#LoadWalletAlert" style="margin-left: 10px;"></button>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <input id="LoadCardNumber" placeholder="Load card number" type="text" class="form-control" autofocus maxlength="10">
                        </div>
                        <div class="col-sm-2">
                            <button onclick="SearchCardNumber()" type="button" class="btn btn-primary waves-effect waves-light form-control">Search RFID Card</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Orders</h4>
                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th class="align-middle">Order ID</th>
                                    <th class="align-middle">Date</th>
                                    <th class="align-middle">Total</th>
                                    <th class="align-middle">Discount</th>
                                    <th class="align-middle">Payment Status</th>
                                    <th class="align-middle">Payment Method</th>
                                    <th class="align-middle">View Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Where(m => m.IsPaid == false).OrderBy(m => m.Id).Take(10))
                                {
                                    decimal ActualTotal = (item.TotalAmount - (item.TotalAmount * Convert.ToDecimal(item.Discounts)) / 100);
                                    decimal SaveDiscount = (item.TotalAmount - ActualTotal);
                                    <tr>
                                        <td><a href="javascript: void(0);" onclick="OrderDetails(@item.Id)" class="fw-bold text-primary" data-bs-toggle="modal" data-bs-target=".transaction-detailModal">@item.ReferenceNo</a> </td>
                                        <td>
                                            @item.DateCreated.ToString("MMMM dd, yyyy")
                                        </td>
                                        <td>
                                            @if (item.Discounts > 0)
                                            {
                                                <span class="text-success">@item.Discounts% OFF</span>
                                                <p class="mb-1" key="t-simplified"><span class="text-muted me-2"><del>@string.Format(new CultureInfo("en-PH", false),"{0:C}", item.TotalAmount)</del></span> <b>@string.Format(new CultureInfo("en-PH", false),"{0:C}", ActualTotal)</b></p>
                                                <span class="badge rounded-pill bg-success float-start">Save @string.Format(new CultureInfo("en-PH", false),"{0:C}", SaveDiscount)</span>
                                            }
                                            else
                                            {
                                                <p class="mb-1" key="t-simplified"><b>@string.Format(new CultureInfo("en-PH", false),"{0:C}", item.TotalAmount)</b></p>
                                            }
                                        </td>
                                        <td>
                                            @item.Discounts%
                                            @if (item.SeniorCitizenID != null && item.SeniorCitizenID != "")
                                            {
                                                <span>| Senior Citizen </span>
                                            }
                                            @if (item.PWDID != null && item.PWDID != "")
                                            {
                                                <span>| PWD </span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.IsPaid == true)
                                            {
                                                <span class="badge badge-pill badge-soft-success font-size-11">Paid</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-pill badge-soft-danger font-size-11">Unpaid</span>
                                            }
                                        </td>
                                        <td>
                                            @item.Payment
                                        </td>
                                        <td>
                                            <!-- Button trigger modal -->
                                            <button type="button" onclick="OrderDetails(@item.Id)" class="btn btn-primary btn-sm btn-rounded waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".transaction-detailModal">
                                                View Details
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Latest Transaction</h4>
                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th class="align-middle">Order ID</th>
                                    <th class="align-middle">Date</th>
                                    <th class="align-middle">Total</th>
                                    <th class="align-middle">Discount</th>
                                    <th class="align-middle">Payment Status</th>
                                    <th class="align-middle">Payment Method</th>
                                    <th class="align-middle">View Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Where(m => m.IsPaid == true).OrderByDescending(m => m.Id).Take(10))
                                {
                                    decimal ActualTotal = (item.TotalAmount - (item.TotalAmount * Convert.ToDecimal(item.Discounts)) / 100);
                                    decimal SaveDiscount = (item.TotalAmount - ActualTotal);
                                    <tr>
                                        <td><a href="javascript: void(0);" onclick="OrderDetails(@item.Id)" class="fw-bold text-primary" data-bs-toggle="modal" data-bs-target=".transaction-detailModal">@item.ReferenceNo</a> </td>
                                        <td>
                                            @item.DateCreated.ToString("MMMM dd, yyyy")
                                        </td>
                                        <td>
                                            @if (item.Discounts > 0)
                                            {
                                                <span class="text-success">@item.Discounts% OFF</span>
                                                <p class="mb-1" key="t-simplified"><span class="text-muted me-2"><del>@string.Format(new CultureInfo("en-PH", false),"{0:C}", item.TotalAmount)</del></span> <b>@string.Format(new CultureInfo("en-PH", false),"{0:C}", ActualTotal)</b></p>
                                                <span class="badge rounded-pill bg-success float-start">Save @string.Format(new CultureInfo("en-PH", false),"{0:C}", SaveDiscount)</span>
                                            }
                                            else
                                            {
                                                <p class="mb-1" key="t-simplified"><b>@string.Format(new CultureInfo("en-PH", false),"{0:C}", item.TotalAmount)</b></p>
                                            }
                                        </td>
                                        <td>
                                            @item.Discounts%
                                            @if (item.SeniorCitizenID != null && item.SeniorCitizenID != "")
                                            {
                                                <span>| Senior Citizen </span>
                                            }
                                            @if (item.PWDID != null && item.PWDID != "")
                                            {
                                                <span>| PWD </span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.IsPaid == true)
                                            {
                                                <span class="badge badge-pill badge-soft-success font-size-11">Paid</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-pill badge-soft-danger font-size-11">Unpaid</span>
                                            }
                                        </td>
                                        <td>
                                            @item.Payment
                                        </td>
                                        <td>
                                            <!-- Button trigger modal -->
                                            <button type="button" onclick="OrderDetails(@item.Id)" class="btn btn-primary btn-sm btn-rounded waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".transaction-detailModal">
                                                View Details
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>
        </div>
    </div>
}

@if (ViewBag.Persons.IsMember == true)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card overflow-hidden">
                <div class="bg-primary bg-soft">
                    <div class="row">
                        <div class="col-10">
                            <div class="text-primary p-3">
                                <h5 class="text-primary">Welcome Back !</h5>
                                <p>OBLS Dashboard</p>
                                <h5 class="font-size-15 text-truncate mt-3"><i class="bx bx-user"></i> @ViewBag.Persons.FirstName @ViewBag.Persons.MiddleName @ViewBag.Persons.LastName</h5>
                                <p class="text-muted mb-0 text-truncate">@ViewBag.Persons.Email</p>
                                <br>
                                <h5 class="text-primary">Card Number: @ViewBag.Persons.CardNumber</h5>
                                <h5 class="text-primary">
                                    Wallet Balance: @if (ViewBag.Persons.Wallet != null)
                                    {
                                        @string.Format(new CultureInfo("en-PH", false),"{0:C}", ViewBag.Persons.Wallet)
                                    }
                                </h5>
                                <h5 class="text-primary">
                                    Reward Points: @if (ViewBag.Persons.Salary != null)
                                    {
                                        @string.Format(new CultureInfo("en-PH", false),"{0:C}", ViewBag.Persons.Salary)
                                    }
                                    <br>
                                    @if (ViewBag.Persons.Salary > 0)
                                    {
                                        <button onclick="ConvertToeWallet()" type="button" class="btn btn-primary waves-effect waves-light">Convert Reward Points To eWallet</button>
                                    }
                                </h5>
                            </div>
                        </div>
                        <div class="col-2 align-self-end">
                            <img src="~/assets/images/profile-img.png" alt="" class="img-fluid" style="width: 200px">
                        </div>
                        <div hidded style="display: none">
                            <button id="ShowLoadWalletModal" class="btn btn-primary waves-effect waves-light btn-sm float-end" data-bs-toggle="modal" data-bs-target="#LoadWalletModal" style="margin-left: 10px;"></button>
                            <button id="ShowLoadWalletAlert" class="btn btn-primary waves-effect waves-light btn-sm float-end" data-bs-toggle="modal" data-bs-target="#LoadWalletAlert" style="margin-left: 10px;"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">My Transaction</h4>
                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th class="align-middle">Order ID</th>
                                    <th class="align-middle">Date</th>
                                    <th class="align-middle">Total</th>
                                    <th class="align-middle">Discount</th>
                                    <th class="align-middle">Payment Status</th>
                                    <th class="align-middle">Payment Method</th>
                                    <th class="align-middle">View Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Where(m => m.IsPaid == true && m.UserId == ViewBag.Persons.UserId && m.Payment == "Membership Card").OrderByDescending(m => m.Id))
                                {
                                    decimal ActualTotal = (item.TotalAmount - (item.TotalAmount * Convert.ToDecimal(item.Discounts)) / 100);
                                    decimal SaveDiscount = (item.TotalAmount - ActualTotal);
                                    <tr>
                                        <td><a href="javascript: void(0);" onclick="OrderDetails(@item.Id)" class="fw-bold text-primary" data-bs-toggle="modal" data-bs-target=".transaction-detailModal">@item.ReferenceNo</a> </td>
                                        <td>
                                            @item.DateCreated.ToString("MMMM dd, yyyy")
                                        </td>
                                        <td>
                                            @if (item.Discounts > 0)
                                            {
                                                <span class="text-success">@item.Discounts% OFF</span>
                                                <p class="mb-1" key="t-simplified"><span class="text-muted me-2"><del>@string.Format(new CultureInfo("en-PH", false),"{0:C}", item.TotalAmount)</del></span> <b>@string.Format(new CultureInfo("en-PH", false),"{0:C}", ActualTotal)</b></p>
                                                <span class="badge rounded-pill bg-success float-start">Save @string.Format(new CultureInfo("en-PH", false),"{0:C}", SaveDiscount)</span>
                                            }
                                            else
                                            {
                                                <p class="mb-1" key="t-simplified"><b>@string.Format(new CultureInfo("en-PH", false),"{0:C}", item.TotalAmount)</b></p>
                                            }
                                        </td>
                                        <td>
                                            @item.Discounts%
                                            @if (item.SeniorCitizenID != null && item.SeniorCitizenID != "")
                                            {
                                                <span>| Senior Citizen </span>
                                            }
                                            @if (item.PWDID != null && item.PWDID != "")
                                            {
                                                <span>| PWD </span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.IsPaid == true)
                                            {
                                                <span class="badge badge-pill badge-soft-success font-size-11">Paid</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-pill badge-soft-danger font-size-11">Unpaid</span>
                                            }
                                        </td>
                                        <td>
                                            @item.Payment
                                        </td>
                                        <td>
                                            <!-- Button trigger modal -->
                                            <button type="button" onclick="OrderDetails(@item.Id)" class="btn btn-primary btn-sm btn-rounded waves-effect waves-light" data-bs-toggle="modal" data-bs-target=".transaction-detailModal">
                                                View Details
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
            </div>
        </div>
    </div>
}


<!-- end row -->
<!-- Transaction Modal -->
<div class="modal fade transaction-detailModal" tabindex="-1" role="dialog" aria-labelledby="transaction-detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transaction-detailModalLabel">Order Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="Load_OrderDetails">
            </div>
        </div>
    </div>
</div>


<div id="LoadWalletModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle"> Load Card Wallet</h5>
                <button id="CloseLoadCardWalletModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div hidden>
                            <input id="Id" type="text" class="form-control" value="0">
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="" class="form-label">Full Name</label>
                            </div>
                            <div class="col-md-8" id="ShowCardHolderFullName">
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label">Email Address</label>
                            </div>
                            <div class="col-md-8" id="ShowCardHolderEmail">
                            </div>
                            <div class="col-md-4 mt-3">
                                <label for="" class="form-label">Card Number</label>
                            </div>
                            <div class="col-md-8 mt-3" id="ShowCardHolderCardNumber">
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label">Wallet Amount</label>
                            </div>
                            <div class="col-md-8" id="ShowCardHolderCurrentWalletAmount">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3 mt-2">
                                <label for="LoadWallet" class="form-label">Enter Load Amount</label>
                                <input id="LoadWallet" placeholder="Load wallet" type="number" class="form-control" required>
                            </div>
                            <div class="mb-3 mt-2">
                                <label for="PIN" class="form-label">Enter PIN</label>
                                <input id="PIN" placeholder="Enter PIN" type="password" class="form-control" required maxlength="4">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Close</button>
                        <button onclick="SaveForm()" type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
                    </div>
                </form>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="LoadWalletAlert" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle"> Load Card Wallet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12" id="ShowLoadWalletAlertMessage">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Close</button>
                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- end modal -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>

<!-- apexcharts -->
<script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>

<script src="~/assets/js/pages/dashboard.init.js"></script>

<!-- Sweet Alerts js -->
<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>

<!-- Bootrstrap touchspin -->
<script src="~/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>

<script src="~/assets/js/pages/ecommerce-cart.init.js"></script>

<!-- Sweet alert init js-->
<script src="~/assets/js/pages/sweet-alerts.init.js"></script>
<!-- App js -->
<script src="~/assets/js/app.js"></script>

<script>
    focusInputLoadCardNumber();
    function focusInputLoadCardNumber() {
        var input = document.getElementById("LoadCardNumber");
        input.focus();
    }

    

    function ConvertToeWallet() {
        Swal.fire({
            title: "Convert Rewards",
            text: 'Are you sure you want to convert your Reward Points to your e Wallet?',
            icon: 'info',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            allowOutsideClick: false,
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Dashboard/ConvertToeWallet",
                    type: 'POST',
                    success: function (data) {
                        Swal.fire({
                            title: data.title,
                            text: data.text,
                            icon: data.icon,
                            showCancelButton: false,
                            allowOutsideClick: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                if (data.icon == "success") {
                                    window.location.href = '@Url.Action("Index", "Dashboard")';
                                }
                            }
                        });
                    },
                    error: function () {
                        console.log('Failed to load the data');
                    }
                });
            }
        });
    }

    function OrderDetails(OrderId) {
        $.ajax({
            url: "/Dashboard/_OrderDetails",
            type: 'GET',
            data: {
                OrderId: OrderId,
            },
            success: function (partialView) {
                $("#Load_OrderDetails").html(partialView);
            },
            error: function () {
                console.log('Failed to load the partial view');
            }
        });
    }

    function FilterYear() {
        var Year = $("#Year").val();
        $.ajax({
            url: "/Dashboard/FilterYear",
            type: 'GET',
            data: {
                Year: Year,
            },
            success: function (data) {
                window.location.href = '@Url.Action("Index", "Dashboard")';
            },
            error: function () {

            }
        });
    }

    function SearchCardNumber() {
        var LoadCardNumber = document.getElementById("LoadCardNumber");
        var CardNumber = LoadCardNumber.value;

        if (CardNumber != null && CardNumber != "") {
            $.ajax({
                url: "/Dashboard/SearchCardNumber",
                type: 'GET',
                data: {
                    CardNumber: CardNumber,
                },
                success: function (data) {
                    if (data.icon == "success") {
                        $("#ShowCardHolderFullName").text(data.fullName);
                        $("#ShowCardHolderEmail").text(data.email);
                        $("#ShowCardHolderCardNumber").text(CardNumber);
                        $("#ShowCardHolderCurrentWalletAmount").text("₱" + data.wallet);
                        $("#ShowLoadWalletModal").click();
                    }
                    else {
                        Swal.fire(data.title, data.text, data.icon);
                    }
                },
                error: function () {
                    console.log('Failed to load the partial view');
                }
            });
        }
    }

    function SaveForm() {
        var LoadCardNumber = document.getElementById("LoadCardNumber");
        var CardNumber = LoadCardNumber.value;
        var LoadWallet = document.getElementById("LoadWallet");
        var WalletAmount = LoadWallet.value;
        var getPIN = document.getElementById("PIN");
        var PIN = getPIN.value;

        if (CardNumber != null && CardNumber != "" && WalletAmount > 0) {

            Swal.fire({
                title: '₱' + LoadWallet.value,
                text: 'Are you sure this is the right amount?',
                icon: 'info',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                allowOutsideClick: false,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "/Dashboard/LoadCardWallet",
                        type: 'POST',
                        data: {
                            CardNumber: CardNumber,
                            PIN: PIN,
                            WalletAmount: WalletAmount,
                        },
                        success: function (data) {
                            if (data.icon == "success") {
                                $("#CloseLoadCardWalletModal").click();
                                Swal.fire('Success!', data.text, 'success');
                                document.getElementById("LoadWallet").value = 0;
                            }
                            else {
                                Swal.fire(data.title, data.text, data.icon);
                            }
                        },
                        error: function () {
                            console.log('Failed to load the data');
                        }
                    });
                }
            });
        }
    }
</script>
