@model OBLS.Models.Application
@using Microsoft.AspNetCore.Identity
@using OBLS.Models
@using OBLS.Static
@{
    ViewBag.Title = "Business Permit";
    ViewBag.pTitle = "Business Permit";
    ViewBag.pageTitle = Model.Application_Status;

    Layout = "~/Views/Shared/_Layout_Permit.cshtml";
}


<div class="container">
    <div class="header">
        REPUBLIC OF THE PHILIPPINES <br>
        PROVINCE OF TARLAC <br>
        MUNICIPALITY OF RAMOS
    </div>

    <br />
    <br />
    <div class="title">BUSINESS PERMIT</div>

    <div class="business-info">
        <h2>@Model.Business_Name</h2>
        <div>Business Name</div>
        <h2>@Model.BusinessLocation_Brgy, @Model.BusinessLocation_CityMunicipality, @Model.BusinessLocation_Province</h2>
        <div>Business Address</div>
        <h2>@Model.Owner_FirstName @Model.Owner_MiddleName @Model.Owner_LastName @Model.Owner_Suffix</h2>
        <div>Business Owner</div>
    </div>
    <br />
    <div class="conten">
        <center>
            This must be posted conspicuously at the place where the business is/are being conducted and shall be presented and/or surrendered to the proper authorities upon the demand. This permit is revocable and is null and void if the owner violates any applicable law, ordinance and/or regulation or if he/she fails to pay all tax and fee charges as they become due.
        </center>
    </div>
    <br />
    <div class="details">
        @if (Model.Permit_ExpiredDate.HasValue)
        {
            <p>This PERMIT expires on @Model.Permit_ExpiredDate.Value.ToString("MMMM dd, yyyy") unless sooner revoked.</p>
        }
        else
        {
            <p>This PERMIT expires on [Expiration Date] unless sooner revoked.</p>
        }
        @if (Model.Permit_DateRelease.HasValue)
        {
            <p>DATE: @Model.Permit_DateRelease.Value.ToString("MMMM dd, yyyy")</p>
        }
        else
        {
            <p>DATE: [Release Date]</p>
        }

        
        <p>O.R. NO.: 8758391</p>
        <p>AMOUNT: PHP @String.Format("{0:N2}", Model.Permit_Amount)</p>
    </div>
    <br />
    <div class="approval">
        APPROVED BY:
        <div class="signature">HON. CELSO L. CUNANAN BANAG</div>
        <div>Municipal Mayor</div>
    </div>
</div>