@* @model OBLS.Models.Application
@{
    ViewBag.Title = "Business Permit";
    ViewBag.pTitle = "Business Permit";
    ViewBag.pageTitle = "View Applications";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application_PaymentMode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application_PaymentMode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application_Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application_Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application_Method)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application_Method)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application_DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application_DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application_IsGenerateBrgyClearance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application_IsGenerateBrgyClearance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Business_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Business_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Business_TradeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Business_TradeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Business_OrganizationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Business_OrganizationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Business_Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Business_Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Business_RegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Business_RegistrationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Business_TIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Business_TIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Business_IsFilipino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Business_IsFilipino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner_LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner_LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner_FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner_FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner_MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner_MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner_Suffix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner_Suffix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_Province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_Province)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_CityMunicipality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_CityMunicipality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_Brgy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_Brgy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_HouseBuildingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_HouseBuildingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_BuildingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_BuildingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_LotNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_LotNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_BlockNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_BlockNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_Subdivision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_Subdivision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact_MobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact_MobileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact_EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact_EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact_TelephoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact_TelephoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_BusinessActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_BusinessActivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_OtherBusinessActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_OtherBusinessActivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_BusinessAreaSqm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_BusinessAreaSqm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_TotalFloorArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_TotalFloorArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_EmployeeMale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_EmployeeMale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_EmployeeFemale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_EmployeeFemale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_TotalEmployeeWithLGU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_TotalEmployeeWithLGU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_TotalVanTruck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_TotalVanTruck)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_TotalMotorcycle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_TotalMotorcycle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_IsOwned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_IsOwned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_HasTaxIncentives)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_HasTaxIncentives)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_Province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_Province)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_CityMunicipality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_CityMunicipality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_Brgy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_Brgy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_HouseBuildingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_HouseBuildingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_BuildingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_BuildingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_LotNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_LotNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_BlockNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_BlockNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_Subdivision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_Subdivision)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
 *@
 @model OBLS.Models.Application
@{
    ViewBag.Title = "Business Permit Application";
    ViewBag.pTitle = "Business Permit Application";
    ViewBag.pageTitle = "View Applications";
}

<h1>Business Permit Application</h1>

<!-- BUSINESS PERMIT APPLICATIONS SECTION -->
<div class="section">
    <h4>Business Permit Applications</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.Application_Type)</label>
            <div>@Html.DisplayFor(model => model.Application_Type)</div>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.Application_PaymentMode)</label>
            <div>@Html.DisplayFor(model => model.Application_PaymentMode)</div>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.Application_Year)</label>
            <div>@Html.DisplayFor(model => model.Application_Year)</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.Application_IsGenerateBrgyClearance)</label>
            <div>@Html.DisplayFor(model => model.Application_IsGenerateBrgyClearance)</div>
        </div>
    </div>
</div>

<!-- BUSINESS INFORMATION SECTION -->
<div class="section">
    <h4>Business Information</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.Business_Name)</label>
            <div>@Html.DisplayFor(model => model.Business_Name)</div>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.Business_TradeName)</label>
            <div>@Html.DisplayFor(model => model.Business_TradeName)</div>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.Business_OrganizationType)</label>
            <div>@Html.DisplayFor(model => model.Business_OrganizationType)</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.Business_Sex)</label>
            <div>@Html.DisplayFor(model => model.Business_Sex)</div>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.Business_RegistrationNumber)</label>
            <div>@Html.DisplayFor(model => model.Business_RegistrationNumber)</div>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.Business_TIN)</label>
            <div>@Html.DisplayFor(model => model.Business_TIN)</div>
        </div>
    </div>
</div>

<!-- NAME OF APPLICANT SECTION -->
<div class="section">
    <h4>Name of Applicant</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <label>@Html.DisplayNameFor(model => model.Owner_LastName)</label>
            <div>@Html.DisplayFor(model => model.Owner_LastName)</div>
        </div>
        <div class="col-md-3">
            <label>@Html.DisplayNameFor(model => model.Owner_FirstName)</label>
            <div>@Html.DisplayFor(model => model.Owner_FirstName)</div>
        </div>
        <div class="col-md-3">
            <label>@Html.DisplayNameFor(model => model.Owner_MiddleName)</label>
            <div>@Html.DisplayFor(model => model.Owner_MiddleName)</div>
        </div>
        <div class="col-md-3">
            <label>@Html.DisplayNameFor(model => model.Owner_Suffix)</label>
            <div>@Html.DisplayFor(model => model.Owner_Suffix)</div>
        </div>
    </div>
</div>

<!-- MAIN OFFICE ADDRESS SECTION -->
<div class="section">
    <h4>Main Office Address</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.MainOffice_Region)</label>
            <div>@Html.DisplayFor(model => model.MainOffice_Region)</div>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.MainOffice_Province)</label>
            <div>@Html.DisplayFor(model => model.MainOffice_Province)</div>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.MainOffice_CityMunicipality)</label>
            <div>@Html.DisplayFor(model => model.MainOffice_CityMunicipality)</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.MainOffice_Brgy)</label>
            <div>@Html.DisplayFor(model => model.MainOffice_Brgy)</div>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.MainOffice_ZipCode)</label>
            <div>@Html.DisplayFor(model => model.MainOffice_ZipCode)</div>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.MainOffice_Street)</label>
            <div>@Html.DisplayFor(model => model.MainOffice_Street)</div>
        </div>
    </div>
</div>

<!-- CONTACT INFORMATION SECTION -->
<div class="section">
    <h4>Contact Information</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.Contact_MobileNumber)</label>
            <div>@Html.DisplayFor(model => model.Contact_MobileNumber)</div>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.Contact_EmailAddress)</label>
            <div>@Html.DisplayFor(model => model.Contact_EmailAddress)</div>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.Contact_TelephoneNumber)</label>
            <div>@Html.DisplayFor(model => model.Contact_TelephoneNumber)</div>
        </div>
    </div>
</div>

<!-- BUSINESS LOCATION ADDRESS SECTION -->
<div class="section">
    <h4>Business Location Address</h4>
    <hr />
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="sameAsMainOffice" />
        <label class="form-check-label" for="sameAsMainOffice">Same As Main Office</label>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.BusinessLocation_Region)</label>
            <div>@Html.DisplayFor(model => model.BusinessLocation_Region)</div>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.BusinessLocation_Province)</label>
            <div>@Html.DisplayFor(model => model.BusinessLocation_Province)</div>
        </div>
        <div class="col-md-4">
            <label>@Html.DisplayNameFor(model => model.BusinessLocation_CityMunicipality)</label>
            <div>@Html.DisplayFor(model => model.BusinessLocation_CityMunicipality)</div>
        </div>
    </div>
</div>

<div class="form-group mt-4">
    <button type="submit" class="btn btn-primary">Save as Draft</button>
    <button type="submit" class="btn btn-success">Submit Application</button>
</div>
