@model OBLS.Models.Application

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application_PaymentMode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application_PaymentMode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application_Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application_Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application_Method)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application_Method)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application_DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application_DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application_IsGenerateBrgyClearance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application_IsGenerateBrgyClearance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Business_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Business_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Business_TradeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Business_TradeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Business_OrganizationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Business_OrganizationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Business_Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Business_Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Business_RegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Business_RegistrationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Business_TIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Business_TIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Business_IsFilipino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Business_IsFilipino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner_LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner_LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner_FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner_FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner_MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner_MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner_Suffix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner_Suffix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_Province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_Province)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_CityMunicipality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_CityMunicipality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_Brgy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_Brgy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_HouseBuildingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_HouseBuildingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_BuildingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_BuildingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_LotNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_LotNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_BlockNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_BlockNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainOffice_Subdivision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainOffice_Subdivision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact_MobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact_MobileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact_EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact_EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact_TelephoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact_TelephoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_BusinessActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_BusinessActivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_OtherBusinessActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_OtherBusinessActivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_BusinessAreaSqm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_BusinessAreaSqm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_TotalFloorArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_TotalFloorArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_EmployeeMale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_EmployeeMale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_EmployeeFemale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_EmployeeFemale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_TotalEmployeeWithLGU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_TotalEmployeeWithLGU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_TotalVanTruck)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_TotalVanTruck)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_TotalMotorcycle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_TotalMotorcycle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_IsOwned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_IsOwned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessOperation_HasTaxIncentives)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessOperation_HasTaxIncentives)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_Province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_Province)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_CityMunicipality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_CityMunicipality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_Brgy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_Brgy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_HouseBuildingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_HouseBuildingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_BuildingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_BuildingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_LotNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_LotNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_BlockNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_BlockNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_Street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessLocation_Subdivision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessLocation_Subdivision)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
