@model OBLS.Models.Application
@using Microsoft.AspNetCore.Identity
@using OBLS.Models
@using OBLS.Static
@{
    ViewBag.Title = "Business Permit";
    ViewBag.pTitle = "Business Permit - " + Model.Application_Status;
    ViewBag.pageTitle = Model.Application_Status;

    var _userManager = Context.RequestServices.GetRequiredService<UserManager<IdentityUser>>();
    var user = await _userManager.FindByNameAsync(User.Identity?.Name);
    var UserRoleId = user.SecurityStamp;

    var ARModel = ViewBag.ARModel as List<ApplicationRequirements>;
    var LBModel = ViewBag.LBModel as List<LineBusiness>;
    var ALBModel = ViewBag.ALBModel as List<ApplicationLineBusiness>;
    var ASModel = ViewBag.ASModel as List<ApplicationSignatories>;

    ListRoles ListRoles = new ListRoles();
    var count = 0;

    var IsApplicant = true;
    var IsDisabled = "";
    if (UserRoleId != UserRoles.Applicant.Id)
    {
        IsApplicant = false;
    }
    if (Model.Application_Status != "Not Complete")
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var form = document.querySelectorAll(".disable-form");
                form.forEach(function (form2) {
                    var inputs = form2.querySelectorAll("input, textarea, select");
                    inputs.forEach(function (input) {
                        input.setAttribute("disabled", true);
                    });
                });
            });

            document.addEventListener("DOMContentLoaded", function () {
                var form1 = document.querySelector(".disable-form1");
                var inputs1 = form1.querySelectorAll("input, textarea, select");
                inputs1.forEach(function (input1) {
                    input1.setAttribute("disabled", true);
                });
            });
        </script>
    }
}
@if ((Model.Permit_Comments != null && Model.Permit_Comments != "") || (Model.Permit_Amount.HasValue && Model.Permit_Amount != null))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body text-warning">
                    @if (Model.Permit_Comments != null && Model.Permit_Comments != "")
                    {
                        <b>NOTE:</b> @Model.Permit_Comments
                        <br />
                        <br />
                    }
                    @if ((Model.Permit_Amount.HasValue && Model.Permit_Amount != null) && (Model.Permit_IsPaid == false || Model.Permit_IsPaid == null))
                    {
                        <h6 class="text-info">Please settle your payment and <b>upload the payment receipt</b> under Application Requirements.</h6>
                        <h5><b>AMOUNT:</b> PHP @String.Format("{0:N2}", Model.Permit_Amount)</h5>
                    }
                </div>
            </div>
        </div>
    </div>
}
@if (ARModel.Count > 0)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    @if (IsApplicant)
                    {
                        <h4 class="card-title mb-4 text-uppercase">Application Requirements</h4>
                    }
                    else
                    {
                        <h4 class="card-title mb-4 text-uppercase">Upload Documents</h4>
                    }

                    @foreach (var item in ARModel)
                    {
                        count++;
                        var Type = "(Image or PDF)";
                        var IsShow = true;
                        if (item.Name.ToUpper() == "TAX INCENTIVES FROM ANY GOVERNMENT ENTITY")
                        {
                            Type = "(Upload Incentive Certificate)";
                            if (Model.BusinessOperation_HasTaxIncentives == false)
                            {
                                IsShow = false;
                            }
                        }

                        if (item.UserRolesId.ToString() != UserRoleId && item.UrlData == "")
                        {
                            IsShow = false;
                        }

                        if (item.Name.ToUpper() == "BARANGAY BUSINESS CLEARANCE" && Model.Application_IsGenerateBrgyClearance && item.UrlData == "")
                        {
                            IsShow = false;
                            if (UserRoleId == UserRoles.BarangayCaptain.Id && item.UrlData == "")
                            {
                                IsShow = true;
                            }
                        }

                        if (item.Name.ToUpper() == "BUSINESS PERMIT" && UserRoleId != UserRoles.Applicant.Id && UserRoleId != UserRoles.MunicipalMayor.Id)
                        {
                            IsShow = false;
                        }

                        if ((Model.Permit_Amount == 0 || Model.Permit_Amount == null) && item.Name.ToUpper() == "PAYMENT" && UserRoleId != UserRoles.Applicant.Id)
                        {
                            IsShow = false;
                        }

                        if (item.Name.ToUpper() == "PAYMENT" && UserRoleId != UserRoles.MunicipalTreasurer.Id)
                        {
                            IsShow = false;
                        }



                        @if (IsShow)
                        {
                            if (item.IsUpload)
                            {
                                if (item.UrlData != "")
                                {
                                    Type = "(Uploaded)";
                                    <form asp-controller="Applications" asp-action="DeleteApplicationRequirements" method="post" enctype="multipart/form-data">
                                        <div class="row">
                                            <label class="text-uppercase">@item.Name : <small>@Type</small></label>
                                            <div class="col-lg-10 form-group mb-3">
                                                <input type="text" class="form-control" name="Id" value="✔ @item.UrlData.Replace("/ApplicationFormRequirements/","")" disabled />
                                            </div>
                                            <div class="col-lg-2 form-group mb-3">
                                                <a href="@item.UrlData" target="_blank" class="btn btn-primary"><i class="mdi mdi-eye"></i></a>
                                                <input type="hidden" class="form-control" name="Id" value="@item.Id" />
                                                <input type="hidden" class="form-control" name="AppId" value="@item.ApplicationId" />
                                                @if (item.UserRolesId.ToString() == UserRoleId && Model.Application_Status == "Not Complete")
                                                {
                                                    <button type="submit" class="btn btn-danger"><i class="mdi mdi-delete"></i></button>
                                                }
                                            </div>
                                        </div>
                                    </form>
                                }
                                else
                                {
                                    <form asp-controller="Applications" asp-action="UploadFile" method="post" enctype="multipart/form-data">
                                        <div class="row">
                                            <label class="text-uppercase">@item.Name :  <small>@Type</small></label>
                                            <div class="col-lg-11 form-group mb-3">
                                                <div class="form-group">
                                                    <input type="hidden" class="form-control" name="Id" value="@item.Id" />
                                                    <input type="hidden" class="form-control" name="AppId" value="@item.ApplicationId" />
                                                    <input type="file" class="form-control" name="file" id="file" required />
                                                </div>
                                            </div>
                                            <div class="col-lg-1 form-group mb-3">
                                                <button type="submit" class="btn btn-primary">Upload</button>
                                            </div>
                                        </div>
                                    </form>
                                }
                            }
                            else
                            {
                                <div class="row">
                                    <label class="text-uppercase text-danger">@item.Name <small>(Bring the Hard Copy)</small></label>
                                </div>
                            }

                        }

                    }

                </div>
            </div>
        </div>
    </div>
}

@if (LBModel.Count > 0)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4 text-uppercase">Line of Business</h4>

                    @if (IsApplicant && Model.Application_Status == "Not Complete")
                    {
                        <form asp-controller="Applications" asp-action="AddApplicationLineBusiness" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-lg-10 form-group mb-3">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" name="AppId" value="@Model.Id" />
                                        <select class="form-control" name="LBId">
                                            <option value="0">Select Line of Business</option>
                                            @foreach (var item in LBModel)
                                            {
                                                <option value="@item.Id">@item.Code - @item.Description</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-2 form-group mb-3">
                                    <button type="submit" class="btn btn-primary">+ Add Line of Business</button>
                                </div>
                            </div>
                        </form>
                    }

                    @foreach (var item in ALBModel)
                    {
                        var LB = LBModel.Where(m => m.Id == item.LineBusinessId).FirstOrDefault();
                        <hr />
                        <div class="row">
                            <div class="col-lg-10">
                                <h5 class="card-title mb-2 text-uppercase">@LB.Code - @LB.Description</h5>
                            </div>
                            <div class="col-lg-2">
                                @if (IsApplicant && Model.Application_Status == "Not Complete")
                                {
                                    <form asp-controller="Applications" asp-action="DeleteApplicationLineBusiness" method="post" enctype="multipart/form-data">
                                        <input type="hidden" class="form-control" name="Id" value="@item.Id" />
                                        <input type="hidden" class="form-control" name="AppId" value="@item.ApplicationId" />
                                        <button type="submit" class="btn btn-danger btn-sm float-end">X</button>
                                    </form>
                                }
                            </div>
                        </div>
                        <form asp-controller="Applications" asp-action="UpdateApplicationLineBusiness" method="post" enctype="multipart/form-data" class="disable-form">
                            <div class="row">
                                <input type="hidden" class="form-control" name="Id" value="@item.Id" />
                                <input type="hidden" class="form-control" name="AppId" value="@item.ApplicationId" />
                                <div class="col-lg-3 form-group mb-2">
                                    <label>No of Units</label>
                                    <input type="number" class="form-control" name="NoOfUnits" value="@item.NoOfUnits" />
                                </div>
                                <div class="col-lg-3 form-group mb-2">
                                    <label>Capital Investment</label>
                                    <input type="number" class="form-control" name="CapitalInvestment" value="@item.CapitalInvestment" />
                                </div>
                                <div class="col-lg-3 form-group mb-2">
                                    <label>Gross Income Essential</label>
                                    <input type="number" class="form-control" name="GrossIncomeEssential" value="@item.GrossIncomeEssential" />
                                </div>
                                <div class="col-lg-3 form-group mb-2">
                                    <label>Gross Income Non Essential</label>
                                    <input type="number" class="form-control" name="GrossIncomeNonEssential" value="@item.GrossIncomeNonEssential" />
                                </div>

                                <label class="text-uppercase mt-2">Measure And Pax</label>
                                <div class="col-lg-3 form-group mb-2">
                                    <label>Signage/Billboard - Capacity</label>
                                    <input type="number" class="form-control" name="SignageBillboard_Capacity" value="@item.SignageBillboard_Capacity" />
                                </div>
                                <div class="col-lg-3 form-group mb-2">
                                    <label>Signage/Billboard - No of Units</label>
                                    <input type="number" class="form-control" name="SignageBillboard_NoOfUnits" value="@item.SignageBillboard_NoOfUnits" />
                                </div>
                                <div class="col-lg-3 form-group mb-2">
                                    <label>Weights and Measures - Capacity</label>
                                    <input type="number" class="form-control" name="WeightsAndMeasures_Capacity" value="@item.WeightsAndMeasures_Capacity" />
                                </div>
                                <div class="col-lg-3 form-group mb-2">
                                    <label>Weights and Measures - No of Units</label>
                                    <input type="number" class="form-control" name="WeightsAndMeasures_NoOfUnits" value="@item.WeightsAndMeasures_NoOfUnits" />
                                </div>

                                @if (IsApplicant && Model.Application_Status == "Not Complete")
                                {
                                    <div class="col-lg-1 form-group mb-1 mt-2">
                                    </div>
                                    <div class="col-lg-9 form-group mb-1 mt-2">
                                    </div>
                                    <div class="col-lg-2 form-group mb-1 mt-2">
                                        <input type="submit" class="btn btn-primary btn-sm float-end" value="Save Changes" />
                                    </div>
                                }
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 form-group">
                        <h4 class="card-title mb-4 text-uppercase">Business Permit Applications</h4>
                    </div>
                    <div class="col-lg-4 form-group">
                        <h6 class="mb-4 text-uppercase">
                            Tracking Number: <b>@Model.Tracking_Number</b>
                        </h6>
                    </div>
                </div>
                <form asp-action="Edit" class="disable-form1">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Tracking_Number" />
                    <input type="hidden" asp-for="Business_IDNumber" />
                    <input type="hidden" asp-for="Application_Method" />
                    <input type="hidden" asp-for="Application_Status" />
                    <input type="hidden" asp-for="Application_DateTime" />
                    <div class="row">
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="Application_Type" class="control-label"></label>
                            <select asp-for="Application_Type" class="form-control">
                                <option value="">Select Application Type</option>
                                <option value="New">New</option>
                                <option value="Renew">Renew</option>
                            </select>
                            <span asp-validation-for="Application_Type" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="Application_PaymentMode" class="control-label"></label>
                            <select asp-for="Application_PaymentMode" class="form-control">
                                <option value="">Select Mode of Payment</option>
                                <option value="Annual">Annual</option>
                                <option value="Bi-annual">Bi-annual</option>
                                <option value="Quarterly">Quarterly</option>
                            </select>
                            <span asp-validation-for="Application_PaymentMode" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="Application_Year" class="control-label"></label>
                            <select asp-for="Application_Year" class="form-control">
                                <option value="">Select Year</option>
                                <option value="2025">2025</option>
                                <option value="2024">2024</option>
                                <option value="2023">2023</option>
                                <option value="2022">2022</option>
                                <option value="2021">2021</option>
                                <option value="2020">2020</option>
                            </select>
                            <span asp-validation-for="Application_Year" class="text-danger"></span>
                        </div>
                        <div class="col-lg-12 form-group">
                            <div class="form-check form-checkbox-outline form-check-primary">
                                <label asp-for="Application_IsGenerateBrgyClearance" class="form-check-label"></label>
                                <input asp-for="Application_IsGenerateBrgyClearance" class="form-check-input CheckColor" type="checkbox">
                                <span asp-validation-for="Application_IsGenerateBrgyClearance" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <h4 class="card-title mb-4 text-uppercase">Business Information</h4>
                    <div class="row">
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="Business_Name" class="control-label"></label>
                            <input asp-for="Business_Name" class="form-control" />
                            <span asp-validation-for="Business_Name" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="Business_TradeName" class="control-label"></label>
                            <input asp-for="Business_TradeName" class="form-control" />
                            <span asp-validation-for="Business_TradeName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="Business_OrganizationType" class="control-label"></label>
                            <select asp-for="Business_OrganizationType" class="form-control">
                                <option value="">Select Organization Type</option>
                                <option value="Single Proprietorship">Single Proprietorship</option>
                                <option value="One Person Corporation">One Person Corporation</option>
                                <option value="Partnership">Partnership</option>
                                <option value="Corporation">Corporation</option>
                                <option value="Cooperative">Cooperative</option>
                            </select>
                            <span asp-validation-for="Business_OrganizationType" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="Business_Sex" class="control-label"></label>
                            <select asp-for="Business_Sex" class="form-control">
                                <option value="">Select Sex</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            <span asp-validation-for="Business_Sex" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="Business_RegistrationNumber" class="control-label"></label>
                            <input asp-for="Business_RegistrationNumber" class="form-control" />
                            <span asp-validation-for="Business_RegistrationNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="Business_TIN" class="control-label"></label>
                            <input asp-for="Business_TIN" class="form-control" />
                            <span asp-validation-for="Business_TIN" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="Business_IsFilipino" class="control-label"></label>
                            <select asp-for="Business_IsFilipino" class="form-control">
                                <option value="">Select For Corporation</option>
                                <option value="Not Applicable">Not Applicable</option>
                                <option value="Filipino">Filipino</option>
                                <option value="Foreign">Foreign</option>
                            </select>
                            <span asp-validation-for="Business_IsFilipino" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />
                    <h4 class="card-title mb-4 text-uppercase">Name of Applicant</h4>
                    <div class="row">
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="Owner_LastName" class="control-label"></label>
                            <input asp-for="Owner_LastName" class="form-control" />
                            <span asp-validation-for="Owner_LastName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="Owner_FirstName" class="control-label"></label>
                            <input asp-for="Owner_FirstName" class="form-control" />
                            <span asp-validation-for="Owner_FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="Owner_MiddleName" class="control-label"></label>
                            <input asp-for="Owner_MiddleName" class="form-control" />
                            <span asp-validation-for="Owner_MiddleName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="Owner_Suffix" class="control-label"></label>
                            <input asp-for="Owner_Suffix" class="form-control" />
                            <span asp-validation-for="Owner_Suffix" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />
                    <h4 class="card-title mb-4 text-uppercase">Main Office Address</h4>
                    <div class="row">
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="MainOffice_Region" class="control-label"></label>
                            <select asp-for="MainOffice_Region" class="form-control">
                                <option value="">Select Region</option>
                                <option value="Central Luzon">Central Luzon</option>
                            </select>
                            <span asp-validation-for="MainOffice_Region" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="MainOffice_Province" class="control-label"></label>
                            <select asp-for="MainOffice_Province" class="form-control">
                                <option value="">Select Province</option>
                                <option value="Tarlac">Tarlac</option>
                            </select>
                            <span asp-validation-for="MainOffice_Province" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="MainOffice_CityMunicipality" class="control-label"></label>
                            <select asp-for="MainOffice_CityMunicipality" class="form-control">
                                <option value="">Select City/Municipality</option>
                                <option value="Ramos">Ramos</option>
                            </select>
                            <span asp-validation-for="MainOffice_CityMunicipality" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="MainOffice_Brgy" class="control-label"></label>
                            <select asp-for="MainOffice_Brgy" class="form-control">
                                <option value="">Select Barangay </option>
                                <option value="Coral-Iloco">Coral-Iloco</option>
                                <option value="Guiteb">Guiteb</option>
                                <option value="Pance">Pance</option>
                                <option value="Poblacion Center">Poblacion Center</option>
                                <option value="Poblacion North">Poblacion North</option>
                                <option value="Poblacion South">Poblacion South</option>
                                <option value="San Juan">San Juan</option>
                                <option value="San Raymundo">San Raymundo</option>
                                <option value="Toledo">Toledo</option>
                            </select>
                            <span asp-validation-for="MainOffice_Brgy" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="MainOffice_ZipCode" class="control-label"></label>
                            <select asp-for="MainOffice_ZipCode" class="form-control">
                                <option value="">Select Zip Code</option>
                                <option value="2311">2311</option>
                            </select>
                            <span asp-validation-for="MainOffice_ZipCode" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="MainOffice_HouseBuildingNumber" class="control-label"></label>
                            <input asp-for="MainOffice_HouseBuildingNumber" class="form-control" />
                            <span asp-validation-for="MainOffice_HouseBuildingNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="MainOffice_BuildingName" class="control-label"></label>
                            <input asp-for="MainOffice_BuildingName" class="form-control" />
                            <span asp-validation-for="MainOffice_BuildingName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-1 form-group mb-3">
                            <label asp-for="MainOffice_LotNumber" class="control-label"></label>
                            <input asp-for="MainOffice_LotNumber" class="form-control" />
                            <span asp-validation-for="MainOffice_LotNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-1 form-group mb-3">
                            <label asp-for="MainOffice_BlockNumber" class="control-label"></label>
                            <input asp-for="MainOffice_BlockNumber" class="form-control" />
                            <span asp-validation-for="MainOffice_BlockNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="MainOffice_Street" class="control-label"></label>
                            <input asp-for="MainOffice_Street" class="form-control" />
                            <span asp-validation-for="MainOffice_Street" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="MainOffice_Subdivision" class="control-label"></label>
                            <input asp-for="MainOffice_Subdivision" class="form-control" />
                            <span asp-validation-for="MainOffice_Subdivision" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />
                    <h4 class="card-title mb-4 text-uppercase">Contact Information</h4>
                    <div class="row">
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="Contact_MobileNumber" class="control-label"></label>
                            <input asp-for="Contact_MobileNumber" class="form-control" />
                            <span asp-validation-for="Contact_MobileNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="Contact_EmailAddress" class="control-label"></label>
                            <input asp-for="Contact_EmailAddress" class="form-control" />
                            <span asp-validation-for="Contact_EmailAddress" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="Contact_TelephoneNumber" class="control-label"></label>
                            <input asp-for="Contact_TelephoneNumber" class="form-control" />
                            <span asp-validation-for="Contact_TelephoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <hr />
                    <h4 class="card-title mb-4 text-uppercase">Business Operation</h4>
                    <div class="row">
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="BusinessOperation_BusinessActivity" class="control-label"></label>
                            <select asp-for="BusinessOperation_BusinessActivity" class="form-control">
                                <option value="">Select Business Activity</option>
                                <option value="Main Office">Main Office</option>
                                <option value="Branch Office">Branch Office</option>
                                <option value="Admin Office Only">Admin Office Only</option>
                                <option value="Warehouse">Warehouse</option>
                                <option value="Others">Others</option>
                            </select>
                            <span asp-validation-for="BusinessOperation_BusinessActivity" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="BusinessOperation_OtherBusinessActivity" class="control-label"></label>
                            <input asp-for="BusinessOperation_OtherBusinessActivity" class="form-control" />
                            <span asp-validation-for="BusinessOperation_OtherBusinessActivity" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessOperation_BusinessAreaSqm" class="control-label"></label>
                            <input asp-for="BusinessOperation_BusinessAreaSqm" class="form-control" />
                            <span asp-validation-for="BusinessOperation_BusinessAreaSqm" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessOperation_TotalFloorArea" class="control-label"></label>
                            <input asp-for="BusinessOperation_TotalFloorArea" class="form-control" />
                            <span asp-validation-for="BusinessOperation_TotalFloorArea" class="text-danger"></span>
                        </div>

                        <div class="col-lg-8 form-group mt-1">
                            <small>Total No. of Employees in Establishment</small>
                        </div>
                        <div class="col-lg-4 form-group mt-1">
                            <small>No. of Delivery Vehicles (If applicable)</small>
                        </div>

                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessOperation_EmployeeMale" class="control-label"></label>
                            <input asp-for="BusinessOperation_EmployeeMale" class="form-control" />
                            <span asp-validation-for="BusinessOperation_EmployeeMale" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessOperation_EmployeeFemale" class="control-label"></label>
                            <input asp-for="BusinessOperation_EmployeeFemale" class="form-control" />
                            <span asp-validation-for="BusinessOperation_EmployeeFemale" class="text-danger"></span>
                        </div>
                        <div class="col-lg-4 form-group mb-3">
                            <label asp-for="BusinessOperation_TotalEmployeeWithLGU" class="control-label"></label>
                            <input asp-for="BusinessOperation_TotalEmployeeWithLGU" class="form-control" />
                            <span asp-validation-for="BusinessOperation_TotalEmployeeWithLGU" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessOperation_TotalVanTruck" class="control-label"></label>
                            <input asp-for="BusinessOperation_TotalVanTruck" class="form-control" />
                            <span asp-validation-for="BusinessOperation_TotalVanTruck" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessOperation_TotalMotorcycle" class="control-label"></label>
                            <input asp-for="BusinessOperation_TotalMotorcycle" class="form-control" />
                            <span asp-validation-for="BusinessOperation_TotalMotorcycle" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 form-group mb-3">
                            <label asp-for="BusinessOperation_IsOwned" class="control-label"></label>
                            <select asp-for="BusinessOperation_IsOwned" class="form-control">
                                <option value="">OWNED?</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span asp-validation-for="BusinessOperation_IsOwned" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 form-group mb-3">
                            <label asp-for="BusinessOperation_HasTaxIncentives" class="control-label"></label>
                            <select asp-for="BusinessOperation_HasTaxIncentives" class="form-control">
                                <option value="">DO YOU HAVE TAX INCENTIVES FROM ANY GOVERNMENT ENTITY?</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span asp-validation-for="BusinessOperation_HasTaxIncentives" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 form-group mt-1">
                            <small>If OWNED is <b>YES</b>, please specify the <b>Tax Declaration No.</b> and <b>Property Identification No.</b></small>
                        </div>
                        <div class="col-lg-6 form-group mt-1">
                            <small>If DO YOU HAVE TAX INCENTIVES FROM ANY GOVERNMENT ENTITY is <b>YES</b>, please specify the <b>Entity.</b></small>
                        </div>

                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="BusinessOperation_TaxDeclarationNo" class="control-label"></label>
                            <input asp-for="BusinessOperation_TaxDeclarationNo" class="form-control" />
                            <span asp-validation-for="BusinessOperation_TaxDeclarationNo" class="text-danger"></span>
                        </div>

                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="BusinessOperation_PropertyIdentificationNo" class="control-label"></label>
                            <input asp-for="BusinessOperation_PropertyIdentificationNo" class="form-control" />
                            <span asp-validation-for="BusinessOperation_PropertyIdentificationNo" class="text-danger"></span>
                        </div>

                        <div class="col-lg-6 form-group mb-3">
                            <label asp-for="BusinessOperation_PleaseSpecifyTheEntity" class="control-label"></label>
                            <input asp-for="BusinessOperation_PleaseSpecifyTheEntity" class="form-control" />
                            <span asp-validation-for="BusinessOperation_PleaseSpecifyTheEntity" class="text-danger"></span>
                        </div>

                    </div>

                    <hr />
                    <h4 class="card-title mb-4 text-uppercase">Business Location Address</h4>
                    <div class="row">
                        @* <div class="col-lg-12 form-group mb-3">
                        <div class="form-check form-checkbox-outline form-check-primary">
                        <label for="SameAsMainOffice" class="form-check-label">Same As Main Office</label>
                        <input id="SameAsMainOffice" class="form-check-input CheckColor" type="checkbox">
                        </div>
                        </div> *@
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="BusinessLocation_Region" class="control-label"></label>
                            <select asp-for="BusinessLocation_Region" class="form-control">
                                <option value="">Select Region</option>
                                <option value="Central Luzon">Central Luzon</option>
                            </select>
                            <span asp-validation-for="BusinessLocation_Region" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="BusinessLocation_Province" class="control-label"></label>
                            <select asp-for="BusinessLocation_Province" class="form-control">
                                <option value="">Select Province</option>
                                <option value="Tarlac">Tarlac</option>
                            </select>
                            <span asp-validation-for="BusinessLocation_Province" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="BusinessLocation_CityMunicipality" class="control-label"></label>
                            <select asp-for="BusinessLocation_CityMunicipality" class="form-control">
                                <option value="">Select City/Municipality</option>
                                <option value="Ramos">Ramos</option>
                            </select>
                            <span asp-validation-for="BusinessLocation_CityMunicipality" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 form-group mb-3">
                            <label asp-for="BusinessLocation_Brgy" class="control-label"></label>
                            <select asp-for="BusinessLocation_Brgy" class="form-control">
                                <option value="">Select Barangay </option>
                                <option value="Coral-Iloco">Coral-Iloco</option>
                                <option value="Guiteb">Guiteb</option>
                                <option value="Pance">Pance</option>
                                <option value="Poblacion Center">Poblacion Center</option>
                                <option value="Poblacion North">Poblacion North</option>
                                <option value="Poblacion South">Poblacion South</option>
                                <option value="San Juan">San Juan</option>
                                <option value="San Raymundo">San Raymundo</option>
                                <option value="Toledo">Toledo</option>
                            </select>
                            <span asp-validation-for="BusinessLocation_Brgy" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessLocation_ZipCode" class="control-label"></label>
                            <select asp-for="BusinessLocation_ZipCode" class="form-control">
                                <option value="">Select Zip Code</option>
                                <option value="2311">2311</option>
                            </select>
                            <span asp-validation-for="BusinessLocation_ZipCode" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessLocation_HouseBuildingNumber" class="control-label"></label>
                            <input asp-for="BusinessLocation_HouseBuildingNumber" class="form-control" />
                            <span asp-validation-for="BusinessLocation_HouseBuildingNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessLocation_BuildingName" class="control-label"></label>
                            <input asp-for="BusinessLocation_BuildingName" class="form-control" />
                            <span asp-validation-for="BusinessLocation_BuildingName" class="text-danger"></span>
                        </div>
                        <div class="col-lg-1 form-group mb-3">
                            <label asp-for="BusinessLocation_LotNumber" class="control-label"></label>
                            <input asp-for="BusinessLocation_LotNumber" class="form-control" />
                            <span asp-validation-for="BusinessLocation_LotNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-1 form-group mb-3">
                            <label asp-for="BusinessLocation_BlockNumber" class="control-label"></label>
                            <input asp-for="BusinessLocation_BlockNumber" class="form-control" />
                            <span asp-validation-for="BusinessLocation_BlockNumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessLocation_Street" class="control-label"></label>
                            <input asp-for="BusinessLocation_Street" class="form-control" />
                            <span asp-validation-for="BusinessLocation_Street" class="text-danger"></span>
                        </div>
                        <div class="col-lg-2 form-group mb-3">
                            <label asp-for="BusinessLocation_Subdivision" class="control-label"></label>
                            <input asp-for="BusinessLocation_Subdivision" class="form-control" />
                            <span asp-validation-for="BusinessLocation_Subdivision" class="text-danger"></span>
                        </div>
                    </div>
                    @if (IsApplicant && Model.Application_Status == "Not Complete")
                    {
                        <hr />
                        <h4 class="card-title mb-4 text-uppercase">Coordinates</h4>
                        <div class="row">
                            <div class="col-lg-12 form-group mb-3">
                                <label>
                                    Pin your business location to get the coordinates of Latitude and Longitude.
                                </label>
                            </div>
                            <div class="col-lg-1 form-group mb-3">
                                <label asp-for="Latitude" class="control-label mt-2"></label>
                            </div>
                            <div class="col-lg-5 form-group mb-3">
                                <input asp-for="Latitude" class="form-control" />
                                <span asp-validation-for="Latitude" class="text-danger"></span>
                            </div>
                            <div class="col-lg-1 form-group mb-3">
                                <label asp-for="Longitude" class="control-label mt-2"></label>
                            </div>
                            <div class="col-lg-5 form-group mb-3">
                                <input asp-for="Longitude" class="form-control" />
                                <span asp-validation-for="Longitude" class="text-danger"></span>
                            </div>
                            <div class="col-lg-12 form-group">
                                <div id="map"></div>
                            </div>
                        </div>
                    }
                    @if (ASModel.Count > 0)
                    {
                        <hr />
                        <h4 class="card-title text-uppercase text-center">Signatories</h4>
                        <div class="row p-3">
                            @foreach (var item in ASModel)
                            {
                                <div class="col-lg-6" style="border: solid gray 1px;">
                                    <div class="row text-center mt-3">
                                        <div class="col-lg-12 mb-3">
                                            <label class="control-label text-uppercase">
                                                <u><b>@item.Department</b></u>
                                            </label>
                                        </div>

                                        <div class="col-lg-6">
                                            <label class="control-label mt-2 text-uppercase">
                                                <u>@item.CreatedDate.ToString("MMMM dd, yyyy")</u>
                                                <br />
                                                Date
                                            </label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="control-label mt-2 text-uppercase">
                                                <u>@item.FullName</u>
                                                <br />
                                                @item.Role
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }

                    @if (IsApplicant && Model.Application_Status == "Not Complete")
                    {
                        <hr />
                        <div class="row mb-3 mt-4">
                            <div class="col-lg-3 form-group mt-2">
                            </div>
                            <div class="col-lg-6 form-group text-center mt-2">

                                <input type="submit" value="Save Changes" class="btn btn-success" />

                            </div>
                            <div class="col-lg-3 form-group"></div>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>


@if (UserRoleId == UserRoles.Applicant.Id && Model.Application_Status == "Not Complete")
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body text-center mb-2 mt-2">
                    <form asp-controller="Applications" asp-action="SubmitApplication" method="post" enctype="multipart/form-data">
                        <div class="row mt-3">
                            <div class="col-lg-12 form-group mb-3">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="align-top">
                                                <input class="mx-2" type="checkbox" id="confirm-submission" name="confirm-submission" required>
                                            </td>
                                            <td>
                                                <p>
                                                    <b>I DECLARE UNDER PENALTY OF PERJURY</b> that all information in this application are true and correct
                                                    based on my personal knowledge and authentic records submitted to the <b class="font-weight-bold">Municipality of Ramos Tarlac</b>.
                                                    Any false or misleading information supplied, or production of fake/falsified documents shall be
                                                    grounds for appropriate legal action against me and automatically revokes the permit.
                                                    I hereby agree that all personal data (as defined under the Data Privacy Law of 2012 and its Implementing
                                                    Rules and Regulations) and account transaction information or records with the <b class="font-weight-bold">Municipality of Ramos Tarlac</b> Government
                                                    may be processed, profiled or shared to requesting parties or for the purpose of any court, legal process,
                                                    examination, inquiry and audit or investigation of any authority.
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" name="FullName" value="Applicant" class="form-control" placeholder="Enter your Full Name" />
                        <a asp-action="Index" class="btn btn-secondary btn-lg">Back</a>
                        <input type="submit" value="Submit Application" class="btn btn-primary btn-lg" />
                    </form>
                </div>
            </div>
        </div>
    </div>
}

@if (UserRoleId != UserRoles.Applicant.Id && UserRoleId != UserRoles.Administrator.Id && Model.Application_Status != "Not Complete")
{
    foreach (var item in ListRoles.Roles.Where(m => m.Id == UserRoleId && m.Id != UserRoles.Applicant.Id && m.Id != UserRoles.Administrator.Id))
    {
        var IsExists = ASModel.Where(m => m.ApplicationId == Model.Id && m.UserRolesId.ToString() == item.Id).ToList();
        if (IsExists.Count() == 0)
        {
            var btnLabel = "Mark as Verified";
            if (UserRoleId == UserRoles.MunicipalTreasurer.Id && Model.Application_Status == "For Payment")
            {
                btnLabel = "Mark as For Issuance";
            }
            if (UserRoleId == UserRoles.MunicipalMayor.Id && Model.Application_Status == "For Issuance")
            {
                btnLabel = "Mark as License Issued";
            }
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body text-center mb-2 mt-2">

                            @if (UserRoleId == UserRoles.MunicipalTreasurer.Id && Model.Application_Status == "For Payment")
                            {
                                <h4 class="card-title mb-4 text-uppercase">Payment Amount</h4>
                                <form asp-controller="Applications" asp-action="Payment" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-lg-4 form-group mb-3">
                                        </div>
                                        <div class="col-lg-4 form-group mb-3">
                                            <input type="hidden" asp-for="Id" />
                                            <input asp-for="Permit_Amount" class="form-control mb-3" type="number" />
                                            <input type="submit" value="Save Payment Amount" class="btn btn-primary" />
                                        </div>
                                        <div class="col-lg-4 form-group mb-3">
                                        </div>
                                    </div>
                                </form>
                                <hr />
                            }
                            @if (UserRoleId == UserRoles.MunicipalTreasurer.Id && Model.Application_Status == "For Payment")
                            {
                                <h4 class="card-title mb-4 text-uppercase">Payment Amount</h4>
                                <form asp-controller="Applications" asp-action="Payment" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-lg-4 form-group mb-3">
                                        </div>
                                        <div class="col-lg-4 form-group mb-3">
                                            <input type="hidden" asp-for="Id" />
                                            <input asp-for="Permit_Amount" class="form-control mb-3" type="number" />
                                            <input type="submit" value="Save Payment Amount" class="btn btn-primary" />
                                        </div>
                                        <div class="col-lg-4 form-group mb-3">
                                        </div>
                                    </div>
                                </form>
                                <hr />
                            }
                            <h4 class="card-title mb-4 text-uppercase">Comments</h4>
                            <form asp-controller="Applications" asp-action="Comments" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-lg-12 form-group mb-3">
                                        <input type="hidden" asp-for="Id" />
                                        <textarea asp-for="Permit_Comments" class="form-control mb-3" type="text" style="height: 300px;" placeholder="Enter comments, instructions or follow up requirements"></textarea>
                                    </div>
                                    <div class="col-lg-4 form-group mb-3">
                                    </div>
                                    <div class="col-lg-4 form-group mb-3">
                                        <input type="submit" value="Save Comments" class="btn btn-primary" />
                                    </div>
                                    <div class="col-lg-4 form-group mb-3">
                                    </div>
                                </div>
                            </form>
                            <hr />
                            @if (UserRoleId == UserRoles.MunicipalMayor.Id && Model.Application_Status == "For Issuance")
                            {
                                <form asp-controller="Applications" asp-action="Declined" method="post" enctype="multipart/form-data">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="submit" value="Mark as Declined" class="btn btn-secondary" />
                                </form>
                            }

                            @if (UserRoleId == UserRoles.MunicipalMayor.Id)
                            {
                                <form asp-controller="Applications" asp-action="LicenseIssuedApplication" method="post" enctype="multipart/form-data">
                                    <input type="hidden" asp-for="Id" />

                                    <div class="row mt-4">
                                        <div class="col-lg-3 form-group mb-3">
                                        </div>
                                        <div class="col-lg-3 form-group mb-3">
                                            <label asp-for="Permit_DateRelease" class="control-label">Release Date</label>
                                            <input type="date" asp-for="Permit_DateRelease" class="form-control" required/>
                                        </div>
                                        <div class="col-lg-3 form-group mb-3">
                                            <label asp-for="Permit_DateRelease" class="control-label">Expired Date</label>
                                            <input type="date" asp-for="Permit_ExpiredDate" class="form-control" required/>
                                        </div>
                                        <div class="col-lg-3 form-group mb-3">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 form-group mb-3">
                                        </div>
                                        <div class="col-lg-6 form-group mb-3">
                                            <input type="text" name="FullName" class="form-control" placeholder="Enter your Full Name" required />
                                        </div>
                                        <div class="col-lg-3 form-group mb-3">
                                        </div>
                                    </div>
                                    <a asp-action="Index" class="btn btn-secondary btn-lg">Back</a>
                                    <input type="submit" value="@btnLabel" class="btn btn-primary btn-lg" />
                                </form>
                            }
                            else
                            {
                                <form asp-controller="Applications" asp-action="SubmitApplication" method="post" enctype="multipart/form-data">
                                    <input type="hidden" asp-for="Id" />
                                    <div class="row mt-4">
                                        <div class="col-lg-3 form-group mb-3">
                                        </div>
                                        <div class="col-lg-6 form-group mb-3">
                                            <input type="text" name="FullName" class="form-control" placeholder="Enter your Full Name" required />
                                        </div>
                                        <div class="col-lg-3 form-group mb-3">
                                        </div>
                                    </div>
                                    <a asp-action="Index" class="btn btn-secondary btn-lg">Back</a>
                                    <input type="submit" value="@btnLabel" class="btn btn-primary btn-lg" />
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}


<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
<style>
    #map {
        height: 500px;
        width: 100%;
        z-index: 0;
    }
</style>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    const map = L.map('map').setView([15.66634194698582, 120.63785971134706], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 20,
        attribution: '© OpenStreetMap'
    }).addTo(map);

    let marker;
    async function getAddress(lat, lng) {
        const apiKey = "9aa55156d5a1421bab3c42f073ff470c";
        const url = `https://api.opencagedata.com/geocode/v1/json?q=${lat}+${lng}&key=${apiKey}`;

        try {
            const response = await fetch(url);
            const data = await response.json();

            if (data.results.length > 0) {
                return data.results[0].formatted;
            } else {
                return "Address not found";
            }
        } catch (error) {
            return "Error fetching address";
        }
    }

    map.on("click", async (e) => {
        const { lat, lng } = e.latlng;
        document.getElementById("Latitude").value = lat.toFixed(14);
        document.getElementById("Longitude").value = lng.toFixed(14);
        if (marker) {
            map.removeLayer(marker);
        }
        marker = L.marker([lat, lng]).addTo(map);
    });

    fetch('/Applications/GetAppBusinesses?AppId=@Model.Id')
        .then(response => response.json())
        .then(businesses => {
            businesses.forEach(business => {
                marker = L.marker([business.latitude, business.longitude]).addTo(map);
            });
        })
        .catch(error => console.error('Error fetching business data:', error));
</script>