@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>
@{
    ViewBag.Title = "Accounts";
    ViewBag.pTitle = "Accounts";
    ViewBag.pageTitle = "Users";

    var Roles = ViewBag.Roles as SelectList;
}

<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-6">
                        <h4 class="card-title">List of @ViewBag.pageTitle</h4>
                    </div>
                    <div class="col-6">
                        <a href="~/Identity/Account/Register" class="btn btn-primary waves-effect waves-light btn-sm float-end">Register New User</a>
                    </div>
                </div>
                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Email Address</th>
                            <th>Phone Number</th>
                            <th>Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var Count = 0;
                        }
                        @foreach (var item in Model)
                        {
                            Count++;
                            <tr>
                                <td>
                                    @Count
                                </td>
                                <td>@item.UserName</td>
                                <td>@item.Email</td>
                                <td>@item.PhoneNumber</td>
                                <td>
                                    @if (item.EmailConfirmed)
                                    {
                                        <spam>Activated</spam>
                                    }
                                    else
                                    {
                                        <spam>Deactivated</spam>
                                    }
                                </td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-horizontal font-size-18"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a href="#" onclick="Edit('@item.Id.ToString()','@item.UserName', '@item.Email','@item.PhoneNumber','@item.EmailConfirmed')" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#CreateUpdateModal"><i class="mdi mdi-pencil font-size-16 text-success me-1"></i> Edit</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

<div id="CreateUpdateModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div hidden>
                            <input id="Id" type="text" class="form-control">
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="Username" class="form-label">Username</label>
                                <input id="Username" placeholder="Username" type="text" class="form-control" required readonly>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="Email" class="form-label">Email</label>
                                <input id="Email" placeholder="Email" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="PhoneNumber" class="form-label">Phone Number</label>
                                <input id="PhoneNumber" placeholder="Phone Number" type="text" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="EmailConfirmed">Account Role</label>
                                <select id="EmailConfirmed" class="form-control" value="" required>
                                    <option value="">- Select -</option>
                                    @foreach (var item in Roles)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="EmailConfirmed">Account Status</label>
                                <select id="EmailConfirmed" class="form-control" value="" required>
                                    <option value="" selected>- Select -</option>
                                    <option value="True">Activated</option>
                                    <option value="False">Deactivated</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                                <hr />
                            <label>CHANGE PASSWORD</label>
                            <br />
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="Password" class="form-label">New Password</label>
                                <input id="Password" placeholder="New Password" type="password" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                                <input id="ConfirmPassword" placeholder="ConfirmPassword" type="password" class="form-control">
                            </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Close</button>
                        <button onclick="SaveForm()" type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
                    </div>
                </form>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Sweet Alerts js -->
<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>

<!-- Sweet alert init js-->
<script src="~/assets/js/pages/sweet-alerts.init.js"></script>

<script src="~/assets/js/app.js"></script>
<script>
    var ID = $("#Id").val();

    function SaveForm() {
        var data = {
            Id: $("#Id").val(),
            Email: $("#Email").val(),
            PhoneNumber: $("#PhoneNumber").val(),
            Password: $("#Password").val(),
            ConfirmPassword: $("#ConfirmPassword").val(),
            EmailConfirmed: $("#EmailConfirmed").val()
        };
        if (data.Username != "" && data.EmailConfirmed != "") {
            $.ajax({
                url: '@Url.Action("Save", "Users")',
                type: 'POST',
                data: data,
                success: function (data) {
                    if (data.success == true) {
                        Swal.fire({
                            title: 'Success!',
                            text: 'Record was successfully saved!',
                            icon: 'success',
                            showCancelButton: false,
                            allowOutsideClick: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '@Url.Action("Index", "Users")';
                            }
                        });
                    }
                    else {
                        Swal.fire('Oops!', data.message, 'info');
                    }

                },
                error: function (error) {
                    Swal.fire('Oops!', 'Something went wrong!', 'error');
                }
            });
        }
    }

    function Edit(Id, UserName, Email, PhoneNumber, EmailConfirmed) {
        $("#ModalTitle").text("Update User").trigger("change");
        $("#Id").val(Id).trigger("change");
        $("#Username").val(UserName).trigger("change");
        $("#Email").val(Email).trigger("change");
        $("#PhoneNumber").val(PhoneNumber).trigger("change");
        $("#EmailConfirmed").val(EmailConfirmed).trigger("change");
    }
</script>