@model IEnumerable<Discounts>
<h5 class="font-size-14 mb-3 card-title">DISCOUNT</h5>
@foreach (var item in Model)
{
    <div class="form-check mt-2">
        <input class="form-check-input" type="radio" id="@item.Id" name="Percentage" value="@item.Percentage" onchange="OnChangeDiscounts(@item.Percentage)">
        <label class="form-check-label" for="@item.Id">
            @item.Name
        </label>
    </div>
}