@{
    ViewBag.Title = "Products";
    ViewBag.pTitle = "Products";
    ViewBag.pageTitle = "Maintenance";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- ION Slider -->
<link href="~/assets/libs/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div>
                    <h5 class="font-size-14 mb-3 card-title">MENU</h5>
                    <ul class="list-unstyled product-list" id="Load_Menu">
                    </ul>
                </div>
                <div class="mt-4 pt-3">
                    <h5 class="font-size-14 mb-3 card-title">PRICE</h5>
                    <input type="text" id="pricerange" onchange="OnChangePricerange()">
                </div>

                <div class="mt-4 pt-3" id="Load_Discounts">
                </div>

                <div class="mt-4 pt-3">
                    <h5 class="font-size-14 mb-3 card-title">TRENDING PRODUCT</h5>
                    <div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="radio" name="productratingCheck" id="productratingCheck0" value="0" onchange="OnChangeProductRating(0)">
                            <label class="form-check-label" for="productratingCheck0">
                                All <i class="bx bxs-star text-warning"></i> Stars
                            </label>
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="radio" name="productratingCheck" id="productratingCheck5" value="5" onchange="OnChangeProductRating(5)">
                            <label class="form-check-label" for="productratingCheck5">
                                5 <i class="bx bxs-star text-warning"></i>  Stars
                            </label>
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="radio" name="productratingCheck" id="productratingCheck4" value="4" onchange="OnChangeProductRating(4)">
                            <label class="form-check-label" for="productratingCheck4">
                                4 <i class="bx bxs-star text-warning"></i>  Stars
                            </label>
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="radio" name="productratingCheck" id="productratingCheck3" value="3" onchange="OnChangeProductRating(3)">
                            <label class="form-check-label" for="productratingCheck3">
                                3 <i class="bx bxs-star text-warning"></i>  Stars
                            </label>
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="radio" name="productratingCheck" id="productratingCheck2" value="2" onchange="OnChangeProductRating(2)">
                            <label class="form-check-label" for="productratingCheck2">
                                2 <i class="bx bxs-star text-warning"></i>  Stars
                            </label>
                        </div>
                        <div class="form-check mt-2">
                            <input class="form-check-input" type="radio" name="productratingCheck" id="productratingCheck1" value="1" onchange="OnChangeProductRating(1)">
                            <label class="form-check-label" for="productratingCheck1">
                                1 <i class="bx bxs-star text-warning"></i> Star
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="row mb-2">
            <div class="col-xl-8 col-sm-6">
                <div class="mt-2">
                    <h5 id="MenuTitle">All Menu</h5>
                    <p id="MenuDescription">Select on the menu to filter the products.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <ul class="nav nav-pills product-view-nav justify-content-end mt-3 mt-sm-0">
                    <li class="nav-item">
                        <a onclick="Create()" href="#" class="nav-link active waves-effect waves-light " data-bs-toggle="modal" data-bs-target="#CreateUpdateModal"><i class="bx bx-plus"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" id="Load_Products">
        </div>
    </div>
</div>


@{
    var Discounts = ViewBag.Discounts as SelectList;
    var Units = ViewBag.Units as SelectList;
    var Menu = ViewBag.Menu as SelectList;
}

<div id="CreateUpdateModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form asp-action="Save" enctype="multipart/form-data">
                    <div class="row">
                        <div hidden>
                            <input id="Id" name="Id" type="text" class="form-control" value="0">
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="Menu">Menu</label>
                                <select id="MenuId" name="MenuId" class="form-control" value="" required>
                                    <option value="">- Select Menu -</option>
                                    @foreach (var item in Menu)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="File" class="form-label">Upload Image</label>
                                <input id="File" name="file" accept="image/*" placeholder="Name" type="file" class="form-control">
                            </div>
                            <div class="mb-3" hidden>
                                <label for="ImageURL" class="form-label">ImageURL</label>
                                <input id="ImageURL" name="ImageURL" placeholder="ImageURL" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="Name" class="form-label">Name</label>
                                <input id="Name" name="Name" placeholder="Name" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="Description" class="form-label">Description</label>
                                <div>
                                    <textarea name="Description" class="form-control" rows="3" id="Description" placeholder="Description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="Price" class="form-label">Price</label>
                                <input id="Price" name="Price" placeholder="Price" type="number" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="Discounts">Discount</label>
                                <select id="Discounts" name="Discounts" class="form-control" value="" required>
                                    <option value="">- Select Discount -</option>
                                    @foreach (var item in Discounts)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="ProductRating">Rating</label>
                                <select id="ProductRating" name="ProductRating" class="form-control" value="" required>
                                    <option value="0">No Rating</option>
                                    <option value="1">1 Star</option>
                                    <option value="2">2 Stars</option>
                                    <option value="3">3 Stars</option>
                                    <option value="4">4 Stars</option>
                                    <option value="5">5 Stars</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="UnitId">Unit</label>
                                <select id="UnitId" name="UnitId" class="form-control" value="" required>
                                    <option value="">- Select Unit -</option>
                                    @foreach (var item in Units)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label for="IsActive">Active</label>
                                <select id="IsActive" name="IsActive" class="form-control" required>
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Save changes</button>
                    </div>
                </form>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- end row -->
<!-- JAVASCRIPT -->
<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>


<!-- Ion Range Slider-->
<script src="~/assets/libs/ion-rangeslider/js/ion.rangeSlider.min.js"></script>

<!-- App js -->
<script src="~/assets/js/pages/modal.init.js"></script>
<script src="~/assets/libs/parsleyjs/parsley.min.js"></script>
<script src="~/assets/js/pages/form-validation.init.js"></script>
<!-- Sweet Alerts js -->
<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>

<!-- Sweet alert init js-->
<script src="~/assets/js/pages/sweet-alerts.init.js"></script>

<script src="~/assets/js/app.js"></script>

<script>
    var MenuID = 0;
    var TopPrice = @ViewBag.TopProductPrice;
    var Price = TopPrice;
    var Discounts = 0;
    var ProductRating = 0;
    $(document).ready(function () {
        LoadPartialView("Products", "_Menu");
        LoadPartialView("Products", "_Discounts");
        LoadProductsAll("Products", "_ProductsAll");
        LoadPriceRange();
    });

    function LoadPriceRange(){
        $("#pricerange").ionRangeSlider({ skin: "square", type: "single", grid: !0, min: 0, max: TopPrice, from: TopPrice, to: TopPrice, prefix: "₱" });
    }

    function LoadPartialView(Controller, Action) {
        $.ajax({
            url: "/" + Controller + "/" + Action,
            type: 'GET',
            success: function (partialView) {
                $("#Load" + Action).html(partialView);
            },
            error: function () {
                console.log('Failed to load the partial view');
            }
        });
    }

    function LoadProductsAll(Controller, Action) {
        MenuID = 0;
        $("#MenuTitle").text("All Menu").trigger("change");
        $("#MenuDescription").text("Select on the menu to filter the products.").trigger("change");
        $.ajax({
            url: "/" + Controller + "/" + Action,
            type: 'GET',
            success: function (partialView) {
                $("#Load_Products").html(partialView);
            },
            error: function () {
                console.log('Failed to load the partial view');
            }
        });
    }

    function LoadMenu(MenuId, MenuTitle, MenuDescription) {
        MenuID = MenuId;
        $("#MenuId").val(MenuId).trigger("change");
        $("#MenuTitle").text(MenuTitle).trigger("change");
        $("#MenuDescription").text(MenuDescription).trigger("change");

        $.ajax({
            url: "/Products/_Products",
            type: 'GET',
            data: {
                MenuId: MenuId,
            },
            success: function (partialView) {
                $("#Load_Products").html(partialView);
            },
            error: function () {
                console.log('Failed to load the partial view');
            }
        });
    }

    function OnChangePricerange() {
        console.log($("#pricerange").val());
        Price = $("#pricerange").val();
        LoadProductsFilter();
    }

    function OnChangeDiscounts(Value) {
        Discounts = Value;
        LoadProductsFilter();
    }

    function OnChangeProductRating(Value) {
        ProductRating = Value;
        LoadProductsFilter();
    }

    function LoadProductsFilter() {
        $.ajax({
            url: "/Products/_ProductsFilter",
            type: 'GET',
            data: {
                MenuId: MenuID,
                Price: Price,
                Discounts: Discounts,
                ProductRating: ProductRating,
            },
            success: function (partialView) {
                $("#Load_Products").html(partialView);
            },
            error: function () {
                console.log('Failed to load the partial view');
            }
        });
    }
</script>
<script>
    var ID = $("#id").val();

    function convertDateTimeToDate(dateTime) {
        var date = new Date(dateTime);
        var day = date.getDate();
        var month = date.getMonth() + 1; // Months are zero-based
        var year = date.getFullYear();

        // Pad single-digit day and month with leading zeros
        var formattedDay = day < 10 ? '0' + day : day;
        var formattedMonth = month < 10 ? '0' + month : month;
        var formattedDate = year + '-' + formattedMonth + '-' + formattedDay;
        return formattedDate;
    }

    function SaveForm() {

        var data = {
            Id: ID,
            MenuId: $("#MenuId").val(),
            ImageURL: $("#File")[0].files[0],
            Name: $("#Name").val(),
            Description: $("#Description").val(),
            Price: $("#Price").val(),
            Quantity: $("#Quantity").val(),
            Discounts: $("#Discounts").val(),
            ProductRating: $("#ProductRating").val(),
            UnitId: $("#UnitId").val(),
            IsActive: $("#IsActive").val()
        };

        if (data.Name != "" && data.MenuId != "" && data.IsActive) {
            $.ajax({
                url: '@Url.Action("Save", "Products")',
                type: 'POST',
                // contentType: false,
                // processData: false,
                data: data,
                success: function (data) {
                    Swal.fire({
                        title: 'Success!',
                        text: 'Record was successfully saved!',
                        icon: 'success',
                        showCancelButton: false,
                        allowOutsideClick: false,
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '@Url.Action("Index", "Products")';
                        }
                    });
                },
                error: function (error) {
                    Swal.fire('Oops!', 'Something went wrong!', 'error');
                }
            });
        }
    }

    function Create() {
        ID = 0;
        $("#ModalTitle").text("Create Products").trigger("change");
    }
    function Edit(Id) {
        $("#ModalTitle").text("Update Products").trigger("change");

        ID = Id;
        var data = {
            Id: Id,
        };
        $.ajax({
            url: '@Url.Action("Edit", "Products")',
            type: 'POST',
            data: data,
            dataType: 'json',
            success: function (result) {
                $("#Id").val(Id).trigger("change");
                $("#MenuId").val(result.menuId).trigger("change");
                $("#ImageURL").val(result.imageURL).trigger("change");
                $("#Name").val(result.name).trigger("change");
                $("#Description").val(result.description).trigger("change");
                $("#Price").val(result.price).trigger("change");
                $("#Quantity").val(result.quantity).trigger("change");
                $("#Discounts").val(result.discounts).trigger("change");
                $("#ProductRating").val(result.productRating).trigger("change");
                $("#UnitId").val(result.unitId).trigger("change");
                $("#IsActive").val(result.isActive).trigger("change");


                console.log(result);
            },
            error: function (error) {
                Swal.fire('Oops!', 'Something went wrong!', 'error');
            }
        });
    }
    function Delete(Id) {
        ID = Id;
        var data = {
            Id: Id,
        };

        Swal.fire({
            title: 'Are you sure?',
            text: 'You won\'t be able to revert this!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel',
            allowOutsideClick: false,
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '@Url.Action("Delete", "Products")',
                    type: 'POST',
                    data: data,
                    success: function (data) {
                        Swal.fire({
                            title: 'Deleted!',
                            text: 'Record was successfully deleted!',
                            icon: 'success',
                            showCancelButton: false,
                            allowOutsideClick: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '@Url.Action("Index", "Products")';
                            }
                        });
                    },
                    error: function (error) {
                        Swal.fire('Oops!', 'Something went wrong!', 'error');
                    }
                });

            } else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire('Cancelled!', 'Your record is safe!', 'error');
            }
        });
    }
</script>


